@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*text stuff*/

.text {
color:#2c2b2b;
font-family: 'Roboto', sans-serif;
}

.independent {
    color : #ffffff;
}

/*tower stuff*/

.tower {
    align-items: center; 
    border-radius: 10px;
    border:  solid  #203C50;
    border-width: 1px;
    background-color: #afab9e;
    margin-right: 7px;
}


.tower:hover {
    background-color: hsla(46, 10%, 67%, 0.788);
    cursor: pointer;
    transform: scale(1.0420);
   
}

.tower:active {
    transform: scale(.9569);
}

/*background*/

body {
    background-color: #203C50;
}


/*clicker stuff*/

.clicker:hover {
    cursor: pointer;
        transform: scale(.9569);
}

.clicker:active {
    transform: scale(1.05420);
}

